:root{
    --primary: #6d38b7;
    --primary-010: #5a2aa6;

    --white: #fff;

    --grey: #9b9ba0;

    --black: #110d16;
    --black-010: #09070c;

    --purple: #340e84;
    --purple-010: #210073;
}